/* GLOBAL STYLES
-------------------------------------------------- */

/* Custom default button */
.btn-default, .btn-default:hover, .btn-default:focus {
    color: #333;
    background-color: #fff;
    border: 1px solid #fff;
}

body {
    color: #5a5a5a;
    padding-bottom: 40px;
    text-align: center;
}

/* Carousel base class */
.carousel {
  height: 500px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

input[name=search] {
    background-image: url('icon/searchicon.png');
}
input[name=search] {
    width: 130px;
    background-color: white;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 35px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[name=search]:focus {
    width: 100%;
}

.search-bar {
    margin-bottom: 30px;
}

.search-bar .form-section {
    background: #5bc0de;
    border: 2px solid #337ab7;
    border-radius: 5px;
    padding: 10px;
}

.search-bar .form-section .form-group {
    margin: 0px;
}

